{{ define "main" }}
{{ $bazzar := $.Param "bazzar" }}
{{ $has_groups := true }}
{{ $group_name := "language" }}
{{ $groups := dict }}
{{ if or (eq $bazzar "clients") (eq $bazzar "libraries") }}
  {{ range $k, $v := $.Site.Data.languages }}
    {{ if (index (index $.Site.Data.repos $bazzar) $v) }}
      {{ $groups = merge $groups (dict $v $k) }}
    {{ end }}
  {{ end }}
{{ else if eq $bazzar "tools" }}
  {{ $group_name = "tool type" }}
  {{ range $k, $v := $.Site.Data.tool_types }}
    {{ if (index (index $.Site.Data.repos $bazzar) $k) }}
      {{ $groups = merge $groups (dict $k $v) }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ $groups = merge $groups (dict "community" "Community") }}
  {{ $has_groups = false }}
{{ end }}

  <main class="docs w-full max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 md:flex gap-16">
    {{ partial "docs-nav.html" . }}
    <div class="w-full max-w-[47rem] py-12">
      {{ partial "breadcrumbs" . }}

      <section class="prose prose-slate w-full max-w-[47rem] py-12">
        <svg class="hidden">
          <symbol id="heart" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
          </symbol>
          <symbol id="lightning" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z" clip-rule="evenodd" />
          </symbol>
          <symbol id="star" viewBox="0 0 20 20" fill="currentColor">
            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
          </symbol>
        </svg>

        <h1>{{ .Title }}</h1>
        {{ with .Params.description }}<p class="text-lg -mt-5 mb-10">{{ . | markdownify }}</p>{{ end }}
        {{- .Content -}}

        {{ if eq $bazzar "clients"}}
        <h2>Official Clients</h2>
        <dl class="mt-8">
          <dd>
            <div class="grid grid-cols-[repeat(16,1fr)] items-start gap-4 py-4 border-t border-slate-200/75 text-sm">
              <div class="col-span-12 flex flex-col">
                <a href="https://github.com/redis/NRedisStack" target="_blank">
                  <div class="flex items-center">
                    {{ template "icon" (dict "id" "star" "class" "mr-1 shrink-0 h-[1.125rem] w-[1.125rem] text-amber-400") }}
                      <span class="sr-only">[official]</span>
                    <strong>NRedisStack</strong>
                  </div>
                  <p class="ml-1 mt-1 mb-0">Redis Stack .Net client</p>
                </a>
              </div>
              <div class="col-span-4 mr-auto">
                <div>
                  License: MIT
                  <br>
                  <a href="/docs/clients/dotnet/">.Net quickstart guide</a>
                </div>
              </div>
            </div>
          </dd>
          <dd>
            <div class="grid grid-cols-[repeat(16,1fr)] items-start gap-4 py-4 border-t border-slate-200/75 text-sm">
              <div class="col-span-12 flex flex-col">
                <a href="https://github.com/redis/go-redis" target="_blank">
                  <div class="flex items-center">
                    {{ template "icon" (dict "id" "star" "class" "mr-1 shrink-0 h-[1.125rem] w-[1.125rem] text-amber-400") }}
                      <span class="sr-only">[official]</span>
                    <strong>go-redis</strong>
                  </div>
                  <p class="ml-1 mt-1 mb-0">Redis Go client</p>
                </a>
              </div>
              <div class="col-span-4 mr-auto">
                <div>
                  License: BSD-2-Clause
                  <br>
                  <a href="/docs/clients/go/">Go quickstart guide</a>
                </div>
              </div>
            </div>
          </dd>
          <dd>
            <div class="grid grid-cols-[repeat(16,1fr)] items-start gap-4 py-4 border-t border-slate-200/75 text-sm">
              <div class="col-span-12 flex flex-col">
                <a href="https://github.com/redis/jedis" target="_blank">
                  <div class="flex items-center">
                    {{ template "icon" (dict "id" "star" "class" "mr-1 shrink-0 h-[1.125rem] w-[1.125rem] text-amber-400") }}
                      <span class="sr-only">[official]</span>
                    <strong>Jedis</strong>
                  </div>
                  <p class="ml-1 mt-1 mb-0">Redis Java client</p>
                </a>
              </div>
              <div class="col-span-4 mr-auto">
                <div>
                  License: MIT
                  <br>
                  <a href="/docs/clients/java/">Java quickstart guide</a>
                </div>
              </div>
            </div>
          </dd>
          <dd>
            <div class="grid grid-cols-[repeat(16,1fr)] items-start gap-4 py-4 border-t border-slate-200/75 text-sm">
              <div class="col-span-12 flex flex-col">
                <a href="https://github.com/redis/node-redis" target="_blank">
                  <div class="flex items-center">
                    {{ template "icon" (dict "id" "star" "class" "mr-1 shrink-0 h-[1.125rem] w-[1.125rem] text-amber-400") }}
                      <span class="sr-only">[official]</span>
                    <strong>node-redis</strong>
                  </div>
                  <p class="ml-1 mt-1 mb-0">Redis Node.js client</p>
                </a>
              </div>
              <div class="col-span-4 mr-auto">
                <div>
                  License: MIT
                  <br>
                  <a href="/docs/clients/nodejs/">Node.js quickstart guide</a>
                </div>
              </div>
            </div>
          </dd>
          <dd>
            <div class="grid grid-cols-[repeat(16,1fr)] items-start gap-4 py-4 border-t border-slate-200/75 text-sm">
              <div class="col-span-12 flex flex-col">
                <a href="https://github.com/redis/redis-py" target="_blank">
                  <div class="flex items-center">
                    {{ template "icon" (dict "id" "star" "class" "mr-1 shrink-0 h-[1.125rem] w-[1.125rem] text-amber-400") }}
                      <span class="sr-only">[official]</span>
                    <strong>redis-py</strong>
                  </div>
                  <p class="ml-1 mt-1 mb-0">Redis Python client</p>
                </a>
              </div>
              <div class="col-span-4 mr-auto">
                <div>
                  License: MIT
                  <br>
                  <a href="/docs/clients/python/">Python quickstart guide</a>
                </div>
              </div>
            </div>
          </dd>

          <div class="mb-8"></div>
        </dl>

        <h2>Other Clients</h2>
        {{ end }}
  
        <p>
          {{ if eq $bazzar "clients"}}
          Offical repositories are marked with a {{ template "icon" (dict "id" "star" "class" "align-text-top inline-flex shrink-0 h-[1.125rem] w-[1.125rem] color text-amber-400") }}.<br />
          {{ end }}
          Recommended repositories are marked with a {{ template "icon" (dict "id" "heart" "class" "align-text-top inline-flex shrink-0 h-[1.125rem] w-[1.125rem] color text-red-600") }}.<br />
          Repositories with some activity within the last six months are marked with a {{ template "icon" (dict "id" "lightning" "class" "align-text-bottom inline-flex shrink-0 h-[1.0625rem] w-[1.0625rem] color text-green-500") }}.<br />
          Want your repository listed here? Just submit a PR to the <a href="https://github.com/redis/redis-doc/pull/new" target="_blank">redis-doc repository</a>.
        </p>

        <dl class="mt-8">
          {{ $pages := .Resources.ByType "page" }}
          {{ range $id, $name := $groups }}
            {{ $repos := (where $pages ".Params.group" $id) }}
            {{ $active := (where $repos ".Params.official" true) }}
            {{ $active = $active | append (sort (where (where (where $repos ".Params.official" false) ".Params.recommended" true) ".Params.active" true) ".Params.stargazers_count" "desc") }}
            {{ $active = $active | append (sort (where (where (where $repos ".Params.official" false) ".Params.recommended" false) ".Params.active" true) ".Params.stargazers_count" "desc") }}
            {{ $inactive := sort (where (where (where $repos ".Params.official" false) ".Params.recommended" true) ".Params.active" "!=" true) ".Params.stargazers_count" "desc" }}
            {{ $inactive = $inactive | append (sort (where (where (where $repos ".Params.official" false) ".Params.recommended" false) ".Params.active" "!=" true) ".Params.stargazers_count" "desc") }}
            {{ if $has_groups }}
              <dt id="{{ $id }}" class="font-semibold text-slate-900 pb-3">
                {{- $name -}}
              </dt>
            {{ end }}
            {{ if gt (len $active) 0 }}
              {{ template "rows" (dict "rows" $active) }}
            {{ end }}
            {{ if gt (len $inactive) 0 }}
              {{ template "rows" (dict "rows" $inactive) }}
            {{ end }}
            <div class="mb-8"></div>
          {{ end }}
        </dl>
      </section>
    </div>

    {{ if $has_groups }}
      <section class="hidden xl:block w-60 h-full shrink-0">
        <div class="w-60 z-40 hidden bg-white/75 md:block overflow-auto fixed top-28 h-full max-h-[calc(100vh-15rem)] text-[0.8125rem]">
          <h1 class="font-semibold mb-3">Browse by {{ $group_name }}</h1>
          <nav class="text-redis-neutral-800">
            <ul id="TableOfContents">
              {{ range $id, $name := $groups }}
                <li>
                  <a href="#{{ $id }}">{{ $name }}</a>
                </li>
              {{ end }}
            </ul>
          </nav>
        </div>
      </section>
    {{ end }}
  </main>
{{ end }}

{{ define "rows" }}
<dd>
  {{ range .rows }}
    <div class="grid grid-cols-[repeat(16,1fr)] items-start gap-4 py-4 border-t border-slate-200/75 text-sm">
      <div class="col-span-12 flex flex-col">
        <a href="https://{{ .Params.repository }}" target="_blank">
          <div class="flex items-center">
            {{ if .Params.official }}
            {{ template "icon" (dict "id" "star" "class" "mr-1 shrink-0 h-[1.125rem] w-[1.125rem] text-amber-400") }}
              <span class="sr-only">[recommended]</span>
            {{ end }}
            {{ if .Params.recommended }}
            {{ template "icon" (dict "id" "heart" "class" "mr-1 shrink-0 h-[1.125rem] w-[1.125rem] text-red-600") }}
              <span class="sr-only">[recommended]</span>
            {{ end }}
            {{ if .Params.active }}
              <span class="sr-only">[active]</span>
              {{ template "icon" (dict "id" "lightning" "class" "mr-1 shrink-0 h-[1.0625rem] w-[1.0625rem] text-green-500") }}
            {{- end }}
            <strong>{{ .Title }}</strong>
          </div>
          <p class="ml-1 mt-1 mb-0">{{ .Description }}</p>
        </a>
      </div>
      <div class="col-span-4 mr-auto">
        {{ if .Params.stargazers_count }}
        <div class="flex items-center self-start mb-1.5">
          GitHub
          <div class="h-5 w-5 flex items-center justify-center mx-1">
            {{ template "icon" (dict "id" "star" "class" "shrink-0 h-5 w-5 opacity-50") }}
          </div>
          {{ .Params.stargazers_count }}
        </div>
        {{ end }}
        <div>
          License: {{ .Params.license | default "Other" }}
        </div>
      </div>
    </div>
  {{ end }}
</dd>
{{ end }}

{{ define "icon" }}
<svg class="{{ .class }}">
  <use href="#{{ .id }}"></use>
</svg>
{{ end }}