node_modules/**
venv/**

# vim temporary files
*~
*.sw?

# system files
.DS_Store

# IDE files
.idea
.vscode

# Files copied pr generated during build
data/groups.json
data/commands.json
assets/**
content/**
layouts/**
public/**
static/**
resources/**
