node_modules/**
venv/**

# vim temporary files
*~
*.sw?

# system files
.DS_Store

# IDE files
.idea
.vscode

/bin/htmltest

# Files copied or generated during build
data/groups.json
data/commands.json
public/**
resources/**
tmp/**

# local "theme"
/config.toml
assets/**
content/**
layouts/**
static/**
