{{ define "head" }}
  <script src="/js/cli.js" defer></script>
  <script src="/js/codetabs.js" defer></script>
  <script src="/js/syntax.js" defer></script>
{{ end }}

{{ define "main" }}
  {{ $isModule := isset .Params "module" }}
  {{ $component := cond $isModule .Params.module "Redis" }}
  <main class="docs w-full max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 md:flex gap-16">
    {{ partial "docs-nav.html" . }}
    <div class="w-full max-w-[47rem] py-12">
      {{ partial "breadcrumbs" . }}
      <section class="prose prose-slate pt-10">
        <h1 class="command-name">
          {{- .Title }}
          {{- if (isset .Params "deprecated_since") }}
          <span class="text-base">(deprecated)</span>
          {{- end }}
        </h1>
        {{ if (isset .Params "deprecated_since") }}
          <div class="border-l-8 pl-4">
            <p>As of {{ $component }} version {{ .Params.deprecated_since }}, this command is regarded as deprecated.</p>
            {{- if (isset .Params "replaced_by") }}
            <p>It can be replaced by {{ .Params.replaced_by | markdownify }} when migrating or writing new code.</p>
            {{- end }}
          </div>
        {{ end }}
        {{ if .Params.bannerText }}
          {{ partial "banner-article.html" . }}
        {{ end }}
        {{ $syntax := .Params.syntax_fmt }}
        {{ if isset .Params "syntax" }}
          {{ if .Params.syntax }}
            {{ $syntax = .Params.syntax }}
          {{ else }}
            {{ $syntax = "" }}
          {{ end }}
        {{ end }}
        {{ if (gt (len $syntax) 0) }}
        <div class="flex gap-2 items-center">
          <span class="font-semibold text-slate-900">Syntax</span>
          <button id="syntax-button" tabindex="1" class="text-neutral-400 hover:text-slate-100 bg-slate-600 h-6 w-6 p-1 rounded-md" title="Toggle syntax" data-display="syntax" onclick="toggleSyntax(this)">
            <svg id="icon-syntax" class="hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
              <path d="M0 0h24v24H0V0z" fill="none"/><path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/>
            </svg>
            <svg id="icon-diagram" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
              <rect fill="none" height="24" width="24"/><path d="M14,9v2h-3V9H8.5V7H11V1H4v6h2.5v2H4v6h2.5v2H4v6h7v-6H8.5v-2H11v-2h3v2h7V9H14z M6,3h3v2H6V3z M9,21H6v-2h3V21z M9,13H6v-2 h3V13z M19,13h-3v-2h3V13z"/>
            </svg>
          </button>
        </div>
        <div class="relative border-2 border-red-600 rounded-lg">
          <div id="display-diagram" class="hidden flex justify-center my-2">
            {{ with .Resources.GetMatch "syntax.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}
          </div>
          <div id="display-syntax">
            <pre>
              {{- $syntax -}}
            </pre>
          </div>
        </div>
        {{ end }}
        <dl class="grid grid-cols-[auto,1fr] gap-x-2 mb-12">
          {{ if not $isModule }}
          <dt class="font-semibold text-slate-900">Available since:</dt>
          <dd>{{ .Params.since }}</dd>
          {{ else }}
          <dt class="font-semibold text-slate-900">Available in:</dt>
          <dd>
            <a href="/docs/stack">Redis Stack</a> /
            <a href="/{{ .Params.stack_path }}">{{ .Params.module }} {{ .Params.since }}</a>
          </dd>
          {{ end }}
          <dt class="font-semibold text-slate-900">Time complexity:</dt>
          <dd>{{ replace .Params.complexity "*" "\\*" | markdownify }}</dd>
          {{ if .Params.acl_categories }}
          <dt class="font-semibold text-slate-900">ACL categories:</dt>
            <dd>
              {{ range .Params.acl_categories }}
                {{ printf "`%s`<span class='mr-1 last:hidden'>,</span>" . | markdownify }}
              {{ end}}
            </dd>
          {{ end }}
        </dl>

        {{ .Content }}

        {{ $resp2 := index .Site.Data.resp2_replies .Params.title }}
        {{ $resp3 := index .Site.Data.resp3_replies .Params.title }}
        {{ if and $resp2 $resp3 }}
          {{ $same := false }}
          {{ $responses := slice }}
          {{ $complement := complement $resp2 $resp3 }}
          {{ if eq (len $complement) 0 }}
            {{ $same = true }}
            {{ $responses = $responses | append (slice $resp2) }}
            {{ printf "## RESP2/RESP3 Reply" | markdownify }}
          {{ else }}
            {{ $responses = $responses | append (slice $resp2) }}
            {{ $responses = $responses | append (slice $resp3) }}
          {{ end }}

          {{ $respver := 2 }}
          {{ range $response := $responses }}
            {{ with $response }}
              {{ if eq $same false }}
                {{ printf "## RESP%d Reply" $respver | markdownify }}
                {{ $respver = add $respver 1 }}
              {{ end }}
              {{ $mergedString := "" }}
              {{ range . }}
                {{ $mergedString = print $mergedString . "\n" }}
              {{ end }}
              {{ $processedContent := $mergedString | markdownify }}
              {{ $processedContent }}
            {{ end }}
          {{ end }}
        {{ end }}
        <br />

        {{ if isset .Params "history" }}
          <h2>History</h2>
          <ul>
            {{ range .Params.history }}
            <li>Starting with Redis version {{ index . 0 }}: {{ index . 1 | markdownify }}</li>
            {{ end }}
          </ul>
        {{ end }}

        {{ partial "feedback.html" . }}
      </section>
    </div>

    <aside class="hidden xl:block w-60 h-full shrink-0">
      {{ $related := .Site.Pages.RelatedIndices . "group" | append . }}
      {{ $related = (where $related ".Params.hidden" "!=" true) }}
      {{ $this := . }}
      {{ with sort $related "Title" }}
      <dl class="w-60 z-40 hidden bg-white/75 md:block overflow-auto fixed top-28 h-full max-h-[calc(100vh-15rem)] text-[0.8125rem]">
        {{ partial "meta-links.html" $this }}
        <dt class="font-semibold my-3">
          See also
        </dt>
        {{ range . }}
          <dd>
            <a class="block font-mono font-medium mb-2 {{- if eq $this . }} text-indigo-600{{- end }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
          </dd>
        {{ end }}
      </dl>
      {{ end }}
    </aside>

  </main>
{{ end }}
