nav {
	&.navbar {
		background-color: var(--c-midnight-700);
		padding: 0;

		.inner-nav {
			align-items: center;
			display: flex;
			max-width: 1200px;
			margin: auto;
			width: 100%;

			.td-navbar-nav-scroll {
				margin-left: 90px;

				.mobile-icon {
					display: none;
					position: absolute;
					right: 0.5rem;
					top: 50%;
					transform: translateY(-50%);

					@media (max-width: $tablet) {
						display: block;

						&.engage {
							svg {
								path {
									transition: transform .3s;
									&:first-of-type {
										transform: translate(-5px, 8px) rotate(45deg);
										transform-origin: center;
									}
									&:nth-of-type(2) {
										transform: rotate(-45deg);
										transform-origin: center;
									}
									&:last-of-type {
										display: none;
									}
								}
							}
						}
					}
				}

				.navbar-nav {
					@media (max-width: $tablet) {
						opacity: 0;
						position: relative;
						right: -1000px;
						transition: right .3s;

						&.engage {
							top: 55px;
							flex-direction: column;
							background: var(--c-midnight-700);
							right: 0;
							position: absolute;
							width: 60vw;
							height: 100vh;
							opacity: 1;
							overflow-y: scroll;
							padding-left: 2rem;
						}
					}

					.nav-item {
						align-items: center;
						display: flex;
						height: 60px;

						&:nth-of-type(6),
						&:nth-of-type(7),
						&:nth-of-type(8),
						&:nth-of-type(9),
						&:nth-of-type(10),
						&:nth-of-type(11) {
							display: none;
						}

						&:nth-child(6),
						&:nth-of-type(7) {
							@media (max-width: $tablet-norm) {
								display: block;
							}
						}

						.nav-link {
							color: white;
							font-size: 13px;
							font-weight: 400;
							letter-spacing: 0.02em;
							text-transform: uppercase;
						}

						&.has-child {
							position: relative;

							@media (max-width: $tablet-norm) {
								display: block;
								height: 2.5rem;
							}

							&:after {
								background: url("/images/caret.svg") no-repeat;
								background-size: contain;
								content: '';
								height: 7px;
								position: absolute;
								right: -.5rem;
								top: 50%;
								transform: translateY(-50%) scale(-1);
								width: 12px;
							}

							&:hover {
								.sub-menu {
									display: block;
								}

								&:after {
									transform: translateY(-50%) scale(1);
								}
							}

							.sub-menu {
								background: var(--c-midnight-700);
								display: none;
								left: 0;
								list-style: none;
								padding: .5rem;
								position: absolute;
								top: 3.5rem;
								width: 160px;

								.nav-item {
									height: auto;
									flex-basis: 100%;
									flex-grow: 1;

									.nav-link {
										width: 100%;
									}
								}

								@media (max-width: $tablet-norm) {
									position: unset;
								}
							}
						}
					}
				}
			}

			.ctas-wrap {
				margin-left: auto;

				@media (max-width: $tablet) {
					display: none;
				}

				.bttn-secondary {
					margin-left: .25rem;
				}
			}
		}
	}
}