<div class="full-width">
	<a href="{{ .Site.Home.RelPermalink }}">
		{{ with resources.Get "icons/logo.svg" }}
			{{ ( . | minify).Content | safeHTML }}
		{{ end }}
	</a>

	<button type="button" onclick="event.target.nextElementSibling.classList.toggle('open')">
		HAMBURGER
	</button>

	<nav>
		<ul class="links">
			{{ $currentPage := . }}
			{{ range .Site.Menus.main }}
				{{ if .HasChildren }}
					<li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
						<a href="#">
							{{ .Pre }}
							<span>{{ .Name }}</span>
						</a>
						<ul class="sub-menu">
							{{ range .Children }}
								<li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
									<a href="{{ .URL }}">{{ .Name }}</a>
								</li>
							{{ end }}
						</ul>
					</li>
				{{ else }}
					<li>
						<a href="{{ .URL }}">
							{{ .Pre }}
							<span>{{ .Name }}</span>
						</a>
					</li>
				{{ end }}
			{{ end }}
		</ul>

		<ul class="buttons">
			{{ range .Site.Menus.buttons }}
				<li>
					<a class="button{{ with .Params.style }}-{{ . }}{{ end }}" href="{{ .URL }}">
						{{ .Name }}
					</a>
				</li>
			{{ end }}
		</ul>
	</nav>
</nav>
