:root {
	--c-neutral-100: #ffffff;
	--c-neutral-200: #f6f6f6;
	--c-neutral-300: #f1f1f2;
	--c-neutral-400: #e4e5e6;
	--c-neutral-500: #d8dadb;
	--c-neutral-600: #bfc2c4;
	--c-neutral-700: #84898d;
	--c-neutral-800: #4e545b;
	--c-neutral-900: #000000;
	--c-orange-100: #fff4e6;
	--c-orange-200: #ffebd1;
	--c-orange-300: #ffd297;
	--c-orange-400: #ffb553;
	--c-orange-500: #ff9100;
	--c-blue-100: #eef6fa;
	--c-blue-200: #e1f4fe;
	--c-blue-300: #c2e9ff;
	--c-blue-400: #99daff;
	--c-blue-500: #2eb3ff;
	--c-blue-600: #1969ff;
	--c-blue-700: #0048ce;
	--c-teal-100: #f0fffe;
	--c-teal-200: #e6fefd;
	--c-teal-300: #d2fbfa;
	--c-teal-400: #b6f2f0;
	--c-teal-500: #51ccca;
	--c-teal-600: #009490;
	--c-teal-700: #065E5b;
	--c-purple-100: #fff0ff;
	--c-purple-200: #ffdcff;
	--c-purple-300: #fcbafc;
	--c-purple-400: #ff8dff;
	--c-purple-500: #d62eff;
	--c-purple-600: #990add;
	--c-purple-700: #600cc1;
	--c-indigo-100: #f2f3fc;
	--c-indigo-200: #e9ebfd;
	--c-indigo-300: #d2d7fe;
	--c-indigo-400: #aeb7ff;
	--c-indigo-500: #7688ff;
	--c-indigo-600: #5961ff;
	--c-indigo-650: #454cd5;
	--c-indigo-700: #3e1cc2;
	--c-midnight-700: #161f31;
	--c-red-500: #ff5d15;
	--c-green-500: #0FA869;
}
